.about-resume-btn {
  display: inline-block;
  margin-top: 2.4rem;
  background: #38bdf8;
  color: #020617;
  font-size: 1.5rem;
  padding: 1rem 2.6rem;
  border-radius: 999px;
  font-weight: 600;
}